.skills {
  background-color: white;
  height: 900px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.framework {
  padding: 20px;
  font-size: 50px;
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  height: 600px;
  width: 1000px;
  color: black;
  background-color: white;
}
