.description {
  display: flex;
  justify-content: space-around;

  align-items: center;
  height: 900px;
}

.presentationTitle {
  font-size: 90px;

  padding: 10px;
}
.intro {
  font-size: 60px;
  padding: 10px;
}

.presentation {
  font-size: 15px;
  padding: 10px;
}

.button {
  border: 1px solid currentColor;
  border-radius: 50px;
  color: black;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  margin-top: 10px;
}

.button::after {
  background-color: #ff731d;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.button:hover::after {
  transform: translate(0, 0);
}

.button:hover {
  border: 1px solid black;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}
