.footer {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.finalTitle {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  font-family: "poppins";
  padding-left: 100%;
}

.main {
  font-size: 90px;
}
