#work {
  display: flex;
  justify-content: space-around;
}
.container1 {
  background-color: #f07eff;
  height: 550px;
  width: 450px;
  cursor: pointer;
}

.work2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container2 {
  background-color: red;
  height: 300px;
  width: 450px;
  cursor: pointer;
}

.container3 {
  background-color: #f07eff;
  height: 225px;
  width: 450px;
  cursor: pointer;
}
